.ratings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ratings-stars {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ratings-stars__star {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ratings-count {
  color: #4f4f4f;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  min-width: 60px;
}

.labeled-ratings__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
}

.ratings-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  flex: 2;
}

.ratings-label__title {
  color: #393939;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
}

.ratings-ratings {
  flex: 3;
}

.input_data {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 16px;
  margin-bottom: 16px;
}

.input_data .input,
.flex-3 {
  flex: 3;
}

.input_label {
  font-size: 14px;
  flex: 2;
  text-align: right;
}

.input {
  padding: 10px 10px;
  font-size: 14px;
  border: none;
  background-color: #f8f8f8;
  border-radius: 5px;
  width: 100%;
}

.input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.185);
}

.primary {
  background-color: #f29d10;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  width: 160px;
  cursor: pointer;
}

.primary:hover {
  background-color: #db8c0d;
}

.primary:active {
  background-color: #c17b0a;
}

.secondary {
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  width: 160px;
  cursor: pointer;
}

.secondary:hover {
  background-color: #dad9d9;
}

.secondary:active {
  background-color: #c2bfbf;
}

.dd-wrapper {
  position: relative;
  width: 100%;
}

.dd-btn-container {
  position: absolute;
  right: 5px;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: all 0.1s ease-in-out;
}

.dd-btn-container:hover {
  background-color: #0001;
}

.dd-btn-container:active {
  background-color: #0003;
}

.dropdown-menu {
  background-color: #ffffff;
  position: absolute;
  left: 0%;
  top: 50px;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  min-width: 100px;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  /* height: 0; */
}

.dropdown-menu-item {
  padding: 10px;
  color: #888;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-menu-item:hover {
  color: #000;
  background-color: #8882;
}

.dropdown-menu-item:not(:last-child) {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.171);
  padding-bottom: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999999999999;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f244;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #d9d9d9;
}

.modal__content__wrapper { 
  width: 600px;
  min-width: 600px;
  min-height: 100px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal__content__cross-btn {
  background-color: #f66a6a;
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;
  border-radius: 100%;
  position: absolute;
  right: -7px;
  top: -7px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.modal__content__cross-btn:hover {
  background-color: #e75858;
}
.modal__content__cross-btn:active {
  background-color: #d84e4e;
}
